@model SklepInternetowyMVC.Models.Book

@{
    ViewData["Title"] = "Add New Book";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="BookName" class="control-label"></label>
        <input asp-for="BookName" class="form-control" />
        <span asp-validation-for="BookName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AuthorName" class="control-label"></label>
        <input asp-for="AuthorName" class="form-control" />
        <span asp-validation-for="AuthorName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label for="GenreId">Select Genre</label>
        <select asp-for="GenreId" class="form-control" asp-items="@(new SelectList(ViewData["Genres"] as List<SklepInternetowyMVC.Models.Genre>, "Id", "GenreName"))">
            <option value="">-- Select a Genre --</option>
        </select>
        <span asp-validation-for="GenreId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image" class="control-label"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Book</button>
</form>

@section Scripts {
    @{ 
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
    }
}
